page-node {
	/*
	.center{text-align:center;}
	*/
	.list-item { box-shadow:10px 10px 5px #888888; margin-top:13px; }
	.list-item-activity { box-shadow:10px 10px 5px #888888; margin-top:13px; }
	.list-item-history { box-shadow:10px 10px 5px #888888; margin-top:13px; }
	ion-list { padding:50px; }
}
