page-node {
	/*
	.center{text-align:center;}
	*/
	.list-item { box-shadow:5px 5px 2px #888888; margin-top:10px; }
	.list-item-activity { box-shadow:5px 5px 2px #888888; margin-top:10px; }
	.list-item-history { box-shadow:5px 5px 2px #888888; margin-top:10px; }
	ion-list { padding:20px; }
}
