 .ion-md-myIcon_play:before { 
     content: url("../assets/icon/play.svg");
 }
 .ion-md-myIcon_stop:before { 
     content: url("../assets/icon/stop.svg");
 } 
  .ion-md-myIcon_refresh:before { 
     content: url("../assets/icon/refresh.svg");
 } 
  .ion-md-diagnosis:before { 
     content: url("../assets/icon/diagnosis.svg");
 }
   .ion-md-history:before { 
     content: url("../assets/icon/history.svg");
 }
   .ion-md-activity:before { 
     content: url("../assets/icon/activity.svg");
 } 
