 .ion-md-myIcon_play:before { 
     content: url("../assets/icon/play.svg");
 }
 .ion-md-myIcon_stop:before { 
     content: url("../assets/icon/stop.svg");
 } 
  .ion-md-myIcon_refresh:before { 
     content: url("../assets/icon/refresh.svg");
 } 
